#body {
  position: relative;
  width: 100vw;
}

#categories-container {
  background-color: azure;
  width: auto;
  height: auto;
  margin: 20px;
  border-radius: 15px;
}

.categories {
  background-color: lightgray;
  height: auto;
}

.categories:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.categories:last-of-type {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.category-header {
  cursor: pointer;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.category-title {
  padding: 0;
  margin: 0;
  width: max-content;
  height: max-content;
}

.arrow {
  transform: rotate(180deg);
}

.list-div {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: none;
}

.active {
  display: block;
  background-color: whitesmoke;
  min-height: 100px;
}

.rotate {
  transform: rotate(90deg);
}

.pop-up-div {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 15px;
  height: 200px;
  min-width: 320px;
  width: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

/*  added style */

:root {
  box-sizing: border-box;
  font-size: 62.5%;

  --indigo-50: #e8eaf6;
  --indigo-400: #7a88c9;
  --indigo-500: #5d6dbe;
  --indigo-900: #1a237e;
}
.modal {
  max-width: 600px;
  /* min-height: 200px; */

  background: var(--indigo-900);
  text-align: center;
  padding: 20px 50px;
  border-radius: 25px;
  z-index: 10;
}

.modal > label {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input {
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  height: 30px;
  background: var(--indigo-50);
  padding: 0px 5px;
}

.modal > h2 {
  color: white;
}

.modal-btn {
  padding: 2px 30px;
  border: none;
  border-radius: 5px;
  background: rgb(15, 186, 15);
  font-weight: bold;
  color: white;
}

.cancel-btn {
  color: black;
  background: var(--indigo-50);
}
.overlay {
  background: black;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 5;
}
.cross-word {
  text-decoration: line-through;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.active-summary {
  background: var(--indigo-500);
}
